{% extends "base.html" %}
{% load static %}
{% block title %}about me{% endblock %}

{% block header %}

<!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
			<br><br><br><br>
                	<span class="glyphicon glyphicon-apple" style="font-size: 60px"></span>
                    
                    <p class="text-light">Live as if you were to die tomorrow. Learn as if you were to live forever. - Mahatma Gandhi</p>
                </div>
            </div>
        </div>
    </section>

	<!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="{% static 'portfolio/images/me.jpg' %}" alt="">
		
		</div>
		
                <div class="col-sm-6">
                	<p class="lead text-muted">Hi! I am Chetan Mittal, Student of Computer Science and Engineering at IIT Delhi.</p>
                	<h2 class="section-heading">Projetcs</h2>
			<p class="lead text-muted">Django powered portfolio website<br>Automatic Differentail Drive(Robotics)<br>Photo editing and magazine design</p>
			<h2 class="section-heading">Skills</h2>
			<p class="lead text-muted">HTML|CSS|Python|Django|C/C++|Photoshop</p>
			<h2 class="section-heading">Currently Learning</h2>
			<p class="lead text-muted">Javascript|Django|Illustrator</p>
                </div>                
                
            </div>
        </div>
    </section>


{% endblock %}