{% extends "base.html" %}

{% block title %}message{% endblock %}

{% block header %}

	<!-- Header -->
<!--    
    <section class="header">
	<div class="header-content">
            <div class="header-content-inner">
                <h1>Send a message!</h1>
                <p>Send me your comments, thoughts, experiences below.</p>
            </div>
        </div>
    </section>
-->

<!-- Intro Section -->

    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
			<br><br><br><br>
                	<span class="glyphicon glyphicon-envelope" style="font-size: 60px"></span>
                    <h2 class="section-heading">Send a message!</h2>
                    <p class="text-light">Send me your comments, thoughts, experiences below.</p>
                </div>
            </div>
        </div>
    </section>    

{% endblock %}



{% block content %}

 
<section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h2 class="section-header">All messages:</h2><br><br><br><br>
			{% for message in messages %}
                	<p class="lead text-muted">
				<strong>{{message.name}}</strong><br>
			
				{{message.date}}
			<br>
				{{message.subject}}<br><br>
				{{message.message}}<br>
				
			</p>
			<br><br><br>
                	{% endfor %}
                </div>                
                
            </div>
        </div>
    </section>

<section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<form name = "form" action = "{% url "message" %}" method = "POST" >{% csrf_token %}	
			<table><tr><td style="vertical-align: top;">
			<label for="id_name"><p class="lead text-light">Name:&nbsp;&nbsp;&nbsp;</p></label></td><td style="vertical-align: top;"><input type="text" name="name" required id="id_name" maxlength="30" style="color:black; width:100%" /></td></tr>
			<br>

			<tr><td style="vertical-align: top;">
			<label for="id_subject"><p class="lead text-light">Subject:&nbsp;&nbsp;&nbsp;</p></label></td><td style="vertical-align: top;"><input type="text" name="subject" required id="id_subject" maxlength="100" style="color:black; width:100%" /></td></tr>
			<br>
			<tr><td style="vertical-align: top;">
			<label for="id_email"><p class="lead text-light">Email:&nbsp;&nbsp;&nbsp;</p></label></td><td style="vertical-align: top;"> <input type="text" name="email" required id="id_email" style="color:black; width:100%" /></td></tr>
			<br>
			<tr><td style="vertical-align: top;">
			<label for="id_message"><p class="lead text-light">Message:&nbsp;&nbsp;&nbsp;</p></label></td><td style="vertical-align: top;"><textarea name="message" id="id_message" rows="10" cols="40" required style="color:black" /></textarea></td></tr></table>
			<br>
			{% if form.errors %}
        <p class="lead text-light" style="color: red;">
            Please enter a valid email address.
        </p>
    {% endif %}<br>
			<button class="btn btn-default btn-lg" type="submit" value="Send">Send</button>
			</form>
                </div>    
                
            </div>
        </div>
    </section>     

{% endblock %}